.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
  color:black;
  text-decoration:none;
}
.dirtycontainer {
  display: grid;
  grid-template-columns: 1fr 1fr
  
}


.dirtycontainer_inside{
  width:50vw;
  height: 46vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.dirtywrapper{
  margin:0;
}
.dirtycontainer_image {
  width: 100%;
  max-height: 300px;
}

.dirtycontainer > h1{
  z-index: 1;
}




/*.dirtycontainer > div:first-child {
  background-size: cover;
}

.dirtycontainer > div:nth-child(2) {
  background: url("https://eu.ironman.com/~/media/8f68118f15604194a76ceee84e6dc44a/20180920%20rotatorpic%20imwales%201600x980%201.jpg");
  background-size: cover;
}*/

.navLink  {
color:white;
text-decoration: none;
}
.NavLink:hover {
color:#00CB85;
}




.navLink:hover {
color:#00CB85;
}

.navLink:active {
text-decoration: none;
}

