

.homecontainer:first-child {
  background: url("https://miro.medium.com/max/3840/1*6q1-rTOP10j1qV9A7ACm_g.jpeg");
  background-size: cover;
}

.homecontainer:nth-child(2) {
  background: url("http://www.icsu.shizuoka.ac.jp/english/images/DSC00255.JPG");
  background-size: cover;
}

.homecontainer:nth-child(3) {
  background: url("https://coresites-cdn.factorymedia.com/mpora_new/wp-content/uploads/2015/11/advenureguy.jpg");
  background-size: cover;
}

.homecontainer:nth-child(4) {
  background: url("https://media.timeout.com/images/105164074/image.jpg");
  background-size: cover;
}




.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container > div {
  width: 50vw;
  height: 46vh;
}

.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
}

.navLink:hover {
color:#00CB85;
}

.navLink:active {
text-decoration: none;

}


/*div { 
color:black;
 }

 nav {
 	color:black;
 }

 .test{
    height:40px;
    width:200px;
}
.container{
  display:flex;
}

.container img {
width:100%;
height:100%;

}

.container div{
  width:50vw;
  height: 46vh;
}
.wrapper{
  margin:0;
}


.wordcontainer{
  display:flex;
  position:fixed;
text-align:center;
top:25%;

}

.wordcontainer h1{
  width:50vw;
  height:40vh;
}

.wordcontainer a{
color:white;
}
 
.navLink {
color:black;
text-decoration: none;
}


.navLink:hover {
color:#00CB85;
}

.navLink:active {
text-decoration: none;
}
*/
/*.wordcontainer a */
 /*}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
  background-color: #111;*/
/* Create two equal columns that floats next to each other */


/* Create two equal columns that floats next to each other */
