.example {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkout {
/*  width: 30%;*/
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
}

.split-form {
    display: flex;
    justify-content: space-around;
}

input, .StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    min-width: 200px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
}

.example button {
    display: block;
    width: 100%;
    height: 37px;
    background-color: #6772e5;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.example .error {
    color: #c23d4b;
    margin: 5px 0;
}
