.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
}
.knowledgecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr
}


.knowledgecontainer > div{
  width:50vw;
  height: 46vh;
}
.knowledgewrapper{
  margin:0;
}



.knowledgecontainer > div:first-child {
  background: url("http://www.icsu.shizuoka.ac.jp/english/images/DSC00255.JPG");
  background-size: cover;
}

.knowledgecontainer > div:nth-child(2) {
  background: url("https://www.aventure-linguistique.ch/assets/_resampled/ScaleHeightWyIxMjgwIl0/Havana-woman2.JPG");
  background-size: cover;
}




.navLink {
color:white;
text-decoration: none;
}


.navLink:hover {
color:#00CB85;
}

.navLink:active {
text-decoration: none;
}



