/*div { 
color:black;
 }

 nav {
 	color:black;
 }

 .test{
    height:40px;
    width:200px;
}*/
/*limitcontainer{
  display:flex;
}
*/

p {
  padding-top:5%;
padding-left:5%;
padding-bottom:5%;
padding-right:5%;
color:black;
font-size:20px;
}


.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
}
.limitcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr
}


.limitcontainer > div{
  width:50vw;
  height: 46vh;
}
.limitwrapper{
  margin:0;
}



.limitcontainer > div:first-child {
  background: url("https://miro.medium.com/max/3840/1*6q1-rTOP10j1qV9A7ACm_g.jpeg");
  background-size: cover;
}

.limitcontainer > div:nth-child(2) {
  background: url("https://www.pureafricaexperiences.com/wp-content/uploads/2017/01/Shark-Cage-Diving-Cage.jpg");
  background-size: cover;
}

/*.wordcontainer h1{
  width:50vw;
  height:40vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container > div {
  width: 50vw;
  height: 46vh;
}

.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
/*.wrapper {
  display: grid;
  grid-template-columns: repeat 1fr 1fr
  grid-auto-rows: 50%;
}
*/

.navLink {
color:white;
text-decoration: none;
}


.navLink:hover {
color:#00CB85;
}

.navLink:active {
text-decoration: none;
}

/*.container {
  grid-template-columns: 1fr 1fr 1fr;
}*/


/*.wrapper{
  margin:0;
}


.container img {
width:100%;
height:100%;

}

.container div{
  width:50vw;
  height: 46vh;
}

.wordcontainer{
  display:flex;
  position:fixed;
text-align:center;
top:25%;

}*/
.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}