.container2{
  width:100vw;
  height: 92vh;
  background:#434645;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wordcontainer2 {
  display:flex;
  align-items: center;
  /*position:fixed;*/
text-align:center;
/*border:1px solid black;*/
border:none;
/*top:33,3%;*/

}

.newscontainer{
  width:90%;
  margin-left:5%;
  /*border:1px solid black;*/
  height:40%;
  display:grid;
  grid-template-rows:17% 83%;
  border:none;

}
.newsheader{
/*border:1px solid black;*/


}
 div{
  color:#00CB85;

}

span{
  color:black;
}

.newsbody{
background:white;
color:black;
padding-top:5%;
padding-left:5%;
padding-bottom:5%;
padding-right:5%;


}
.wordcontainer3 {
  display:flex;
  align-items: center;
  /*position:fixed;*/
text-align:center;
border:1px solid black;
/*top:33,3%;*/

}

.wordcontainer4 {
  display:flex;
  align-items: center;
  /*position:fixed;*/
text-align:center;
border:1px solid black;
/*top:33,3%;*/

}
/*.wordcontainer h1{
  width:33,3vw;
  height:50vh;
}*/