.container3{
  width:100vw;
  height:92vh;
  background-color:#434645;
  display:grid;
  grid-template-columns: 1fr 1fr;

}

.wordcontainer3 {
  width: 50vw;
  height:42vh;
  display:flex;
  align-items: center;
  justify-content:center;

  /*position:fixed;*/
/*text-align:center;*/
/*border:1px solid black;*/
border:none;
/*top:33,3%;*/

}




.newscontainer2{
  width:100%;
  /*margin-left:5%;*/
  border:1px solid black;
  height:46%;
  display:grid;
  grid-template-rows:10% 90%;
  border:none;
}

.newsbody2{
background:#434645; 
font-size:80px;
color:white;

/*position:absolute;
left:50%;*/
/*top:20px;
right:20px;*/

}
.newsbody3{
background:#434645; 
/*font-size:80px;*/
color:white;
padding-top:10%;
padding-left:10%;
padding-bottom:10%;
padding-right:10%;

/*position:absolute;
left:50%;*/
/*top:20px;
right:20px;*/

}
.wordcontainer4 {
  width: 50vw;
  height:42vh;
  display:flex;
  align-items:stretch;
  justify-content:stretch;
  /*text-align:bottom;*/
  /*position:fixed;*/
/*text-align:center;*/
/*border:1px solid black;*/
border:none;
/*top:33,3%;*/

}
.wordcontainer4 {
  width: 50vw;
  height:46vh;
  display:flex;
  align-items:stretch;
  justify-content:stretch;
  /*text-align:bottom;*/
  /*position:fixed;*/
/*text-align:center;*/
/*border:1px solid black;*/
border:none;
/*top:33,3%;*/

}

iframe{
		width:100%;
        height:46vh;


}
.wordcontainer5 {
	background:white;
  /*width: 50vw;*/
  /*height:46vh;*/
/*  display:flex;
  align-items:stretch;
  justify-content:stretch;
  text-align:bottom;
*/  /*position:fixed;
/*text-align:center;*/
/*border:1px solid black;*/
/*border:none;*/
/*top:33,3%;*/

}
.newsbody4{
	color:black;
font-size:20px;
padding-top:30%;
padding-left:10%;
padding-bottom:10%;
padding-right:10%;
	
}

h1{
/*padding-top:10%;*/
padding-left:25%;
padding-right:10%;


}


/*.newsheader2{
border:1px solid black;
background-color:#1A1A1A;

/*}*/