.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
}
.overcomecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr
}


.overcomecontainer > div{
  width:50vw;
  height: 46vh;
}
.overcomewrapper{
  margin:0;
}



.overcomecontainer > div:first-child {
  background: url("https://coresites-cdn.factorymedia.com/mpora_new/wp-content/uploads/2015/11/advenureguy.jpg");
  background-size: cover;
}

.overcomecontainer > div:nth-child(2) {
  background: url("https://www.mercurynews.com/wp-content/uploads/2018/03/spider_021.jpg");
  background-size: cover;
}



.navLink {
color:white;
text-decoration: none;
}


.navLink:hover {
color:#00CB85;
}

.navLink:active {
text-decoration: none;
}


.heading {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}